@use "../01-abstract/variables" as *;
@use "../06-blocks/core/paragraph" as *;

%figcaption {
    @extend %text-xs;

    max-width: $container-wide;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

figcaption {
    @extend %figcaption;
}
