# DS store
.DS_Store

# Configuration
.idea

# Repository
/node_modules

# DSFR Theme
/wp-dsfr-theme/node_modules
/wp-dsfr-theme/dist-dsfr
/wp-dsfr-theme/dist

# DSFR Plugin
/wp-dsfr-blocks/node_modules
/wp-dsfr-blocks/build
