@use "../01-abstract/variables" as *;
@use "../02-tools/f-context-selector" as *;
@use "../02-tools/m-breakpoint" as *;
@use "../02-tools/m-editor-only" as *;
@use "../02-tools/m-heading" as *;
@use "../03-base/text" as *;

@include editor-only {
    // ----
    // Post title style
    // ----
    .editor-post-title {

        @include heading(h1);

        max-width: var(--responsive--aligndefault-width);
        margin-bottom: $spacing-9;
    }

    .is-root-container {
        padding-bottom: $spacing-9;
    }
}

#{context-selector(".blocks-container", ".is-root-container")} {
    // ----
    // common
    // ----
    figcaption {
        @extend %figcaption;
    }

    #{context-selector(".alignfull", "[data-align='full']")} figcaption {
        text-align: center;
    }

    // ----
    // Alignements horizontaux
    // ----
    > * {
        max-width: var(--responsive--aligndefault-width);
        margin-right: auto;
        margin-left: auto;
    }

    #{context-selector(".alignwide", "[data-align='wide']")} {
        max-width: var(--responsive--alignwide-width);
    }

    #{context-selector(".alignfull", "[data-align='full']")} {
        max-width: var(--responsive--alignfull-width);
    }

    // ----
    // Alignements verticaux
    // ----
    #{context-selector(":where(:first-child:not(:is(.blocks-container [class*="fr-"] *)))", ":where(:first-child:not(:is([data-align]:not(:first-child) > *, .is-root-container [class*="fr-"] *))), [data-align]:first-child > *")} {
        margin-top: 0 !important;
    }

    #{context-selector(":where(:last-child:not(:is(.blocks-container [class*="fr-"] *)))", ":where(:last-child:not(:is([data-align]:not(:last-child) > *, .is-root-container [class*="fr-"] *))), [data-align]:last-child > *")} {
        margin-bottom: 0 !important;
    }
}
