@use "../01-abstract/variables" as *;
@use "../02-tools/m-breakpoint" as *;
@use "../02-tools/m-container" as *;

.page-top {
    > div {
        @include container;

        max-width: var(--responsive--aligndefault-width);
        margin-top: $spacing-10;

        @include breakpoints(md) {
            margin-top: $spacing-12;
        }
    }
}
